version: "3.9"

services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  api:
    build: ./api
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker1:
    build: .
    command: python workers/worker.py
    depends_on:
      - redis

  worker2:
    build: .
    command: python workers/worker.py
    depends_on:
      - redis
